{% extends 'base.html' %}
{% block content %}

<div class="container py-5">

  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body p-4">
      <h2 class="mb-1">Home</h2>
      <p class="text-muted mb-0">Accesos rápidos del sistema.</p>
    </div>
  </div>

  <div class="row g-3">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title mb-2 ">Formulario</h5>
          <div class="d-grid gap-2 pt-2">
            <a href="{% url 'crear_estructura' %}" class="btn btn-success">
              Carga completa 
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title mb-2 ">Formulario</h5>
          <div class="d-grid gap-2 pt-2">
            <a href="{% url 'descargar_excel_sectores' %}" class="btn btn-success">
              boton excel
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}